<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  <title>Adam's Witness Protection Program Game</title>
</head>
<body>
  <%= yield %>


<!-- angJS Modules -->
<!-- <script src="js/application.js"></script> -->

<!-- Controllers -->
<script src="js/controllers/MainController.js"></script>

<!-- Directives -->

</body>
</html>
